
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//Extra
.btn:not([class*="btn-link"], [class*="btn-outline"]) {
  color: #fff !important;
  &:hover {
    color: #fff !important;
  }
}

p:last-child {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 1rem;
}
